@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root {
  --nav_li_color_cf: hsl(340, 97%, 58%);
  --Cf_li_style: "Open Sans", sans-serif;
  --cf_brandName_style: "Roboto", sans-serif;
}
